trigger:
  branches:
    include:
      - main
      - develop
stages:
  - stage: CodeAnalysis
    displayName: 'Code Analysis Stage'
    jobs:
      - job: SonarQubeAnalysis
        displayName: 'Run SonarQube Analysis'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: SonarQubePrepare@5
            inputs:
              SonarQube: '[YOUR_SONARQUBE_SERVICE_CONNECTION]'
              scannerMode: 'CLI'
              configMode: 'file'
              configFile: 'cookbook/sonar-project.properties'
              projectKey: '[YOUR_SONAR_PROJECT_KEY]'

          - task: SonarQubeAnalyze@5
            inputs:
              jdkversion: 'JAVA_HOME_11_X64'
          - task: SonarQubePublish@5
            inputs:
              pollingTimeoutSec: '300'
